.btn-home {
    display: inline-block;
    background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033, #d74177);
    color: #fff;
    letter-spacing: 1px;
    box-shadow: 3px 3px 20px #ff3352;
    background-size: 400% 400%;
    padding: 12px;
    justify-content: center;
    font-size: larger;
    font-family: verdana;
    border-radius: 10%;
}

.home-title {
    display: inline-block;
    background-image: linear-gradient(-45deg, #ff5959, #ff4040, #ff0d6e, #ff8033, #d74177);
    color: #fff;
    letter-spacing: 1px;
    box-shadow: 3px 3px 20px #ff3352;
    background-size: 400% 400%;
    padding: 12px;
    justify-content: center;
    font-size: larger;
    font-family: verdana;
    border-radius: 10%;
}
.btn-home:hover {
    text-decoration: none;
    color: aqua;
}